* {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
     color: white;
     padding: 120, 140,100;
    margin-bottom: 10px;
    box-shadow: 10px;
    text-shadow: 5px;
}
a {
    color: lightgreen;
    text-decoration: line-through;
}
/*Adding a comment on link styles*/
a:hover {
    color: aquamarine;
}
img {
    display: block;
    height: 20%;
    border: lightgreen;
}
.subheading {
    border-bottom: black;

}
article {
    padding: 120, 140,100;
    margin-bottom: 10px;
    box-shadow: 10px;
}
